<div class="sidenav">
  <a href="{{site.baseurl}}/api/" class="nav-title">REST API</a>
  <div class="items">
    <a href="{{site.baseurl}}/api/" class="{% if page.pid == 'api-intro' %}active{% endif %}">Introduction</a>
    <a href="{{site.baseurl}}/api/authentication.html" class="{% if page.pid == 'api-auth' %}active{% endif %}">Authentication</a>
    <a href="https://flat.io/developers/api/reference/">OpenAPI/Swagger Reference</a>
    <a href="{{site.baseurl}}/api/console.html" class="{% if page.pid == 'api-console' %}active{% endif %}">API Console</a>
    <a href="{{site.baseurl}}/api/sdks.html" class="{% if page.pid == 'api-sdks' %}active{% endif %}">SDKs</a>
    <a href="{{site.baseurl}}/api/rate-limits.html" class="{% if page.pid == 'api-rate-limits' %}active{% endif %}">Rate Limits</a>
    <a href="{{site.baseurl}}/api/errors.html" class="{% if page.pid == 'api-errors' %}active{% endif %}">Errors</a>
    <a href="{{site.baseurl}}/api/changelog.html" class="{% if page.pid == 'api-changelog' %}active{% endif %}">API Changelog</a>
  </div>
  <a class="nav-title" href="{{site.baseurl}}/lti/">LTI</a>
  <div class="items">
    <a href="{{site.baseurl}}/lti/" class="{% if page.pid == 'lti-usage' %}active{% endif %}">Usage</a>
  </div>
</div>